<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="recaptcha-secret-key" value="6Le1IRsUAAAAADk1KwmvFiu9sBZJfJhY0Q4YOp4P"/>
    <add key="recaptcha-public-key" value="6Le1IRsUAAAAAN4xLJ2qCSooBhj-2SHq1PfzwPti"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
